* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  font-family: "Hiragino Maru Gothic ProN", sans-serif;
}

h3,
h4 {
  font-size: 18px;
}

h4 {
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

.navigations a {
  color: black;
}

.navigations a:hover {
  opacity: 0.5;
}

.logo {
  float: left;
}

.logo {
  position: fixed;
  top: -10px;
  left: 183px;
  z-index: 3;
}

.logo:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

.navigations {
  width: 100％;
  /* height: 77px; */
  right: 0;
  left: 0;
  margin: 0 auto;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 2;
}

.event_all.right {
  width: 300px;
  height: 1863px;
  background: url(../images/event/pass_right.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  /* right:-140px; */
}

.event_all.left {
  width: 296px;
  height: 1863px;
  background: url(../images/event/pass_lefu.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: -140px;
}

.navigations li {
  list-style-type: none;
  position: relative;
  float: left;
  top: 5px;
  left: 274px;
  margin: 30px;
}

.menu {
  border-bottom: 3px solid #cc0d29;
}

.menu a:hover {
  color: #cc0d29;
}

.about {
  border-bottom: 3px solid #0092e5;
}

.about a:hover {
  color: #0092e5;
}

.staff {
  border-bottom: 3px solid #f38517;
}

.staff a:hover {
  color: #f38517;
}

.event {
  border-bottom: 3px solid #21a27a;
}

.event a:hover {
  color: #21a27a;
}

.sns {
  border-bottom: 3px solid #ffd02a;
}

.sns a:hover {
  color: #ffd02a;
}

.access {
  border-bottom: 3px solid #b077b1;
}

.access a:hover {
  color: #b077b1;
}

.reservation {
  font-size: 20px;
}

.reservation a {
  text-align: center;
  line-height: 38px;
  width: 140px;
  height: 40px;
  border-radius: 100vh;
  background: #fd3e3e;
  display: block;
  color: #fff;
}

.event_ollrite {
  position: absolute;
  right: 0px;
  width: 250px;
  height: 2100px;
  background: url(../images/event/pass_right.svg);
  background-repeat: no-repeat;
}

.event_olllrft {
  position: absolute;
  left: -50px;
  width: 300px;
  height: 2000px;
  background: url(../images/event/pass_left.svg);
  background-repeat: no-repeat;
}

.title {
  width: 280px;
  margin: 0 auto;
  /* border:solid tomato; */
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 140px;
  margin-bottom: 80px;
}

.title p {
  /* padding: 10.5px 0; */
  display: flex;
  align-content: center;
  margin-right: 10px;
}

.event_all {
  /* border:solid tomato; */
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box_plans {
  width: 300px;
  height: 480px;
  /* padding: 10px; */
}

.box__img {
  width: 300px;
  height: 300px;
}

.box {
  width: 300px;
  height: 480px;
  margin-bottom: 68px;
}

/* .box img {
  width: 300px;
  height: 300px;
} */

.event_all span {
  text-align: left;
}

.text {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 32px 5px;
}

.text_log {
  padding: 0 10px 10px 10px;
}

.log {
  height: 236px;
  font-size: 30px;
  text-align: center;
  line-height: 236px;
  display: flex;
  align-items: center; /* 垂直中心 */
  justify-content: center; /* 水平中心 */
}

.log:before,
.log:after {
  border-top: 1px solid;
  content: "";
  width: 11em; /* 線の長さ */
}

.log:before {
  margin-right: 1em; /* 文字の右隣 */
}

.log:after {
  margin-left: 1em; /* 文字の左隣 */
}

.bottom {
  width: 100%;
  height: 80px;
  background: url(../images/top_page/access/poss_bottom.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-top: 80px;
}
